.user-connect{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    @media (min-width: 920px) {
       margin-bottom: 0px;
    }
 }
 .user-connect p i{
    margin: 0 3px;
 }


 .user-connect NavLink {
    font-weight: bold;
    color: #2c3e50;

 }

.user-button{
  text-decoration: none;
  margin-right: 0.5rem;
  margin: 7px 15px;
  padding: 10px 15px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 1rem;
   cursor: pointer;

}